/****************************
  Flexbox based grid object *
 ****************************/

:root {
  // Container defaults
  --flex-dir: row;
  --flex-wrap: nowrap;
  --flex-justify-content: flex-start;
  --flex-align-items: flex-start;
  --flex-align-content: flex-start;
  --flex-gutter: 0.5em;
  // Item defaults
  --flex-grow: 0;
  --flex-shrink: 1;
  --flex-basis: auto;
  --flex-align-self: auto;
}

/*******************
 *  Flex container *
 *******************/

@mixin flex-container-props($direction: row) {
  --flex-dir: #{$direction};
  display: flex;
  flex-flow: var(--flex-dir) var(--flex-wrap);
  justify-content: var(--flex-justify-content);
  align-items: var(--flex-align-items);
  align-content: var(--flex-align-content);
}

@mixin flex-container-mods($direction: row) {
  @include wrap-mods();
  @include justify-content-mods();
  @include align-items-mods();
  @include align-content-mods();
  @include reverse-mods($direction);
  @include gutter-mods($direction);
}

@mixin wrap-mods() {

  &.-nowrap {
    --flex-wrap: nowrap;
  }

  &.-wrap {
    --flex-wrap: wrap;
  }

  &.-wrap-rev {
    --flex-wrap: wrap-reverse;
  }
}

@mixin justify-content-mods() {

  &.-justify-start {
    --flex-justify-content: flex-start;
  }

  &.-justify-end {
    --flex-justify-content: flex-end;
  }

  &.-justify-center {
    --flex-justify-content: center;
  }

  &.-justify-between {
    --flex-justify-content: space-between;
  }

  &.-justify-around {
    --flex-justify-content: space-around;
  }

  &.-justify-evenly {
    --flex-justify-content: space-evenly;
  }
}

@mixin align-items-mods() {

  &.-items-start {
    --flex-align-items: flex-start;
  }

  &.-items-end {
    --flex-align-items: flex-end;
  }

  &.-items-center {
    --flex-align-items: center;
  }

  &.-items-stretch {
    --flex-align-items: stretch;
  }

  &.-items-baseline {
    --flex-align-items: baseline;
  }
}

@mixin align-content-mods() {

  &.-content-start {
    --flex-align-content: flex-start;
  }

  &.-content-end {
    --flex-align-content: flex-end;
  }

  &.-content-center {
    --flex-align-content: center;
  }

  &.-content-stretch {
    --flex-align-content: stretch;
  }

  &.-content-between {
    --flex-align-content: space-between;
  }

  &.-content-around {
    --flex-align-content: space-around;
  }
}

@mixin reverse-mods($direction) {

  &.-reverse {
    --flex-dir: #{$direction}-reverse;
  }
}

@mixin gutter-mods($direction) {
  @if $direction == row {
    // Gutters are horizontal
    &.-gutters {
      @include horizontal-grid-inner-gutters();
    }

    &.-gutters-outer {
      @include horizontal-grid-outer-gutters();
    }
  } @else {
    // Gutters are vertical
    &.-gutters {
      @include vertical-grid-inner-gutters();
    }

    &.-gutters-outer {
      @include vertical-grid-outer-gutters();
    }
  }
}

@mixin horizontal-grid-inner-gutters() {

  .o-flex__item {
    padding-right: var(--flex-gutter);

    &:last-of-type {
      padding-right: 0;
    }
  }
}

@mixin horizontal-grid-outer-gutters() {
  padding: var(--flex-gutter);
  padding-right: 0;

  .o-flex__item {
    padding-right: var(--flex-gutter);
  }
}

@mixin vertical-grid-inner-gutters() {

  .o-flex__item {
    padding-bottom: var(--flex-gutter);

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

@mixin vertical-grid-outer-gutters() {
  padding: var(--flex-gutter);
  padding-bottom: 0;

  .o-flex__item {
    padding-bottom: var(--flex-gutter);
  }
}

.o-flex {
  @include flex-container-props();
  @include flex-container-mods();
}

.o-flex--vertical {
  @include flex-container-props(column);
  @include flex-container-mods(column);
}

/*************
  Flex item  *
 *************/

@mixin flex-item-props() {
  order: 0;
  flex: var(--flex-grow) var(--flex-shrink) var(--flex-basis);
  align-self: var(--flex-align-self);
}

@mixin align-self-mods() {

  &.-self-auto {
    --flex-align-self: auto;
  }

  &.-self-start {
    --flex-align-self: flex-start;
  }

  &.-self-end {
    --flex-align-self: flex-end;
  }

  &.-self-center {
    --flex-align-self: center;
  }

  &.-self-stretch {
    --flex-align-self: stretch;
  }

  &.-self-baseline {
    --flex-align-self: baseline;
  }
}

.o-flex__item {
  @include flex-item-props();
  @include align-self-mods();
}

.o-flex__item--fill {
  @include flex-item-props();
  @include align-self-mods();
  flex-grow: 1;
}
