/***************************************************************************
  Parallax Effect using CSS 3D transforms 🔥                               *
                                                                           *
  Based on:                                                                *
  https://developers.google.com/web/updates/2016/12/performant-parallaxing *
  https://codepen.io/scottkellum/details/bHEcA                             *
  https://keithclark.co.uk/articles/pure-css-parallax-websites/            *
 ***************************************************************************/

$parallax-perspective: 1px;

/*
  Calculates z and scale transformations
 */
@mixin parallax-perspective($distance: 0) {
  transform: translateZ($distance * $parallax-perspective)
    scale(1 + ($distance * -1 / 1));
}

/****************************
  Parallax effect container *
 ****************************/

.o-parallax {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  perspective: $parallax-perspective;
  transform-style: preserve-3d;
  scroll-behavior: smooth;

  // Ensure 3D is preserved no matter the markup
  &,
  * {
    transform-style: preserve-3d;
  }
}

/***************************
  Group of parallax layers *
 ***************************/

.o-parallax__section {
  position: relative;
  height: 100vh;
}

/*********************
  Parallaxing layers *
 *********************/

%o-parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 50%;
  border: 1px solid #000000;

  // Fix mobile Safari scroll momentum
  @supports (-webkit-overflow-scrolling: touch) {
    position: -webkit-sticky;
  }
}

.o-parallax__layer--fore {
  @extend %o-parallax__layer;
  @include parallax-perspective(0.4);
  z-index: 5;
}

.o-parallax__layer--base {
  @extend %o-parallax__layer;
  @include parallax-perspective(0);
  z-index: 0;
}

.o-parallax__layer--back {
  @extend %o-parallax__layer;
  @include parallax-perspective(-1);
  z-index: -5;
}

.o-parallax__layer--deep {
  @extend %o-parallax__layer;
  @include parallax-perspective(-2);
  z-index: -10;
}

// Fix mobile Safari scroll momentum
@supports (-webkit-overflow-scrolling: touch) {

  .o-parallax {
    -webkit-overflow-scrolling: touch;
  }

  .o-parallax__section {
    perspective: $parallax-perspective;
  }
}
