/****************************
  Utility classes for color *
 ****************************/

$color-palette: (
  'black': var(--black-color),
  'white': var(--white-color)
) !default;

/*
  Declares utility classes for text and background color
  using the color palette map
 */
@mixin color-utilities() {
  @each $key, $value in $color-palette {

    .u-color-#{$key} {
      color: $value;
    }

    .u-bkg-#{$key} {
      background-color: $value;
    }
  }
}

@include color-utilities();
