/******************************
  Utility classes for spacing *
 ******************************/

/*********
  Margin *
 *********/

/*
  Measure definitions
 */
[class*='u-margin'] {
  --margin: 1em;
}

[class*='u-margin-c'] {
  --margin: 0;
}

[class*='u-margin-s'] {
  --margin: 0.5em;
}

[class*='u-margin-m'] {
  --margin: 1.5em;
}

[class*='u-margin-l'] {
  --margin: 2em;
}

/*
  Selectors definition
 */
@custom-selector :--m-base
  .u-margin-l,
  .u-margin-m,
  .u-margin,
  .u-margin-s,
  .u-margin-c;

@custom-selector :--m-vertical
  .u-margin-l--v,
  .u-margin-m--v,
  .u-margin--v,
  .u-margin-s--v,
  .u-margin-c--v;

@custom-selector :--m-horizontal
  .u-margin-l--h,
  .u-margin-m--h,
  .u-margin--h,
  .u-margin-s--h,
  .u-margin-c--h;

@custom-selector :--m-top
  .u-margin-l--top,
  .u-margin-m--top,
  .u-margin--top,
  .u-margin-s--top,
  .u-margin-c--top;

@custom-selector :--m-right
  .u-margin-l--right,
  .u-margin-m--right,
  .u-margin--right,
  .u-margin-s--right,
  .u-margin-c--right;

@custom-selector :--m-bottom
  .u-margin-l--bottom,
  .u-margin-m--bottom,
  .u-margin--bottom,
  .u-margin-s--bottom,
  .u-margin-c--bottom;

@custom-selector :--m-left
  .u-margin-l--left,
  .u-margin-m--left,
  .u-margin--left,
  .u-margin-s--left,
  .u-margin-c--left;

/*
  Responsive classes definition
 */
@mixin responsive :--m-base {
  margin: var(--margin);
}

@mixin responsive :--m-vertical {
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}

@mixin responsive :--m-horizontal {
  margin-left: var(--margin);
  margin-right: var(--margin);
}

@mixin responsive :--m-top {
  margin-top: var(--margin);
}

@mixin responsive :--m-right {
  margin-right: var(--margin);
}

@mixin responsive :--m-bottom {
  margin-bottom: var(--margin);
}

@mixin responsive :--m-left {
  margin-left: var(--margin);
}

/**********
  Padding *
 **********/

/*
  Measure definitions
 */

[class*='u-padding'] {
  --padding: 1em;
}

[class*='u-padding-c'] {
  --padding: 0;
}

[class*='u-padding-s'] {
  --padding: 0.5em;
}

[class*='u-padding-m'] {
  --padding: 1.5em;
}

[class*='u-padding-l'] {
  --padding: 2em;
}

/*
  Selectors definition
 */
@custom-selector :--p-base
  .u-padding-l,
  .u-padding-m,
  .u-padding,
  .u-padding-s,
  .u-padding-c;

@custom-selector :--p-vertical
  .u-padding-l--v,
  .u-padding-m--v,
  .u-padding--v,
  .u-padding-s--v,
  .u-padding-c--v;

@custom-selector :--p-horizontal
  .u-padding-l--h,
  .u-padding-m--h,
  .u-padding--h,
  .u-padding-s--h,
  .u-padding-c--h;

@custom-selector :--p-top
  .u-padding-l--top,
  .u-padding-m--top,
  .u-padding--top,
  .u-padding-s--top,
  .u-padding-c--top;

@custom-selector :--p-right
  .u-padding-l--right,
  .u-padding-m--right,
  .u-padding--right,
  .u-padding-s--right,
  .u-padding-c--right;

@custom-selector :--p-bottom
  .u-padding-l--bottom,
  .u-padding-m--bottom,
  .u-padding--bottom,
  .u-padding-s--bottom,
  .u-padding-c--bottom;

@custom-selector :--p-left
  .u-padding-l--left,
  .u-padding-m--left,
  .u-padding--left,
  .u-padding-s--left,
  .u-padding-c--left;

/*
  Responsive classes definition
 */
@mixin responsive :--p-base {
  padding: var(--padding);
}

@mixin responsive :--p-vertical {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

@mixin responsive :--p-horizontal {
  padding-left: var(--padding);
  padding-right: var(--padding);
}

@mixin responsive :--p-top {
  padding-top: var(--padding);
}

@mixin responsive :--p-right {
  padding-right: var(--padding);
}

@mixin responsive :--p-bottom {
  padding-bottom: var(--padding);
}

@mixin responsive :--p-left {
  padding-left: var(--padding);
}
