/**************************************************
  Utility classes for managing typographic styles *
 **************************************************/

.s2 {
  font-size: var(--xsmall-size);
}

.s1 {
  font-size: var(--small-size);
}

.t1 {
  font-size: var(--medium-size);
}

.t2 {
  font-size: var(--large-size);
}

.t3 {
  font-size: var(--xlarge-size);
}

.t4 {
  font-size: var(--xxlarge-size);
}
