/***************************
  Global font declarations *
 ***************************/

:root {

  /* Font-weights */
  --thin-weight: 100;
  --extra-light-weight: 200;
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semibold-weight: 600;
  --bold-weight: 700;
  --heavy-weight: 800;
  --black-weight: 900;

  /* Base values */
  --base-size: 1em;
  --scale-ratio: 1.3;
  --line-height: 1.4;
  --heading-line-height: 1.2;

  /* Type scale */
  --xsmall-size: calc(1em / (var(--scale-ratio) * var(--scale-ratio)));
  --small-size: calc(1em / var(--scale-ratio));
  --medium-size: calc(1em * var(--scale-ratio));
  --large-size: calc(1em * var(--scale-ratio) * var(--scale-ratio));
  --xlarge-size: calc(
    1em * var(--scale-ratio) * var(--scale-ratio) * var(--scale-ratio)
  );
  --xxlarge-size: calc(
    1em * var(--scale-ratio) * var(--scale-ratio) * var(--scale-ratio) *
    var(--scale-ratio)
  );
}

@media (--large-viewport) {

  :root {
    --base-size: 1.25em;
    --scale-ratio: 1.25;
  }
}
