/******************************************
  Utils for handling interactive elements *
 ******************************************/

@define-mixin interactive-opacity {
  --target-opacity: 0.53;
  --timing: 0.3s;
  cursor: pointer;
  opacity: inherit;
  transition: opacity var(--timing);

  &:hover,
  &:focus {
    opacity: var(--target-opacity);
  }
}
@define-mixin interactive-highlight {
  --accent-color: var(--yellow-color);
  --timing: 0.3s;
  color: inherit;
  transition: color var(--timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
