/****************************
  Global typographic styles *
 ****************************/

@define-mixin body-copy {
  font-family: system-ui;
  font-size: var(--base-size);
  font-weight: var(--regular-weight);
  line-height: 1.6;
  color: inherit;
}
