/****************************
  Global typographic styles *
 ****************************/

@mixin body-copy() {
  font-family: var(--system-font-stack);
  font-size: var(--base-size);
  font-weight: var(--regular-weight);
  line-height: 1.6;
  color: inherit;
}
